<div ng-controller="searchController">
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Nightlife Coordination!</h1>
    <p>This lets you search the restaurants around a location and view how many people wish to come to a restaurant. And if you are signed in using twitter, you can indicate that you are willing to go to one.</p>
    <div class="mb-3">
      <p class="text-center">{{introText}}</p>
      <div class="input-group">
        <input type="text" ng-model="place" class="form-control" id="search_text" placeholder="Where are you" required>
        <input type="submit" id="search" ng-click="getBars()" class="btn btn-success" value="Search">
        <div class="invalid-feedback" style="width: 100%;">
          Place is required.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-light" ng-hide="loading">
  <div class="container" >
    <div id="bar-container">
    <div ng-repeat="bar in bars" class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" ng-src="{{bar.restaurant.featured_image}}" alt="Featured Image">
        <div class="card-body">
          <p class="card-text">{{bar.restaurant.name}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" ng-show="username">
              <button type="button" ng-hide="going[bar.restaurant.id]" ng-click="go(bar.restaurant.id)" class="btn btn-sm btn-outline-secondary">Go</button>
              <button type="button" ng-show="going[bar.restaurant.id]" ng-click="remove(bar.restaurant.id)" class="btn btn-sm btn-outline-secondary">Cancel</button>
            </div>
            <!-- <small class="text-muted">{{bar.restaurant.location.address}}</small> -->
            <p class="card-text">{{bar.restaurant.location.address}}</p>
            
          </div>
          <small class="text-muted">{{strengths[bar.restaurant.id]}} going</small>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div ng-show="loading" class="d-flex justify-content-center">
  <div class="spinner-grow m-5" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ul ng-show="bars && (!loading)" uib-pagination total-items="totalBars" ng-model="currentPage" items-per-page="pageSize" max-size="5" ng-change="pageChanged()"></ul>
</div>